modules/spring-config/src/main/resources/META-INF/mule-module.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/module"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            targetNamespace="http://www.mulesoft.org/schema/mule/module"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"/>

    <xsd:element name="module" type="moduleConfigType">
        <xsd:annotation>
            <xsd:documentation>
                A transformer that sets the paylaod with the provided value
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="operation" type="operationType">
        <xsd:annotation>
            <xsd:documentation>
                A transformer that sets the paylaod with the provided value
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="operationType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:sequence>
                    <xsd:element name="parameters" minOccurs="0" maxOccurs="1">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="parameter" minOccurs="1" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:attribute name="name"/>
                                        <xsd:attribute name="defaultValue" use="optional"/>
                                        <xsd:attribute name="type" type="inputType" use="required"/>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="body">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:group ref="mule:messageProcessorOrMixedContentMessageProcessor" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="output" minOccurs="0" maxOccurs="1">
                        <xsd:complexType>
                            <xsd:attribute name="type" type="outputSimpleType" use="required"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="name" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="moduleConfigType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:sequence maxOccurs="unbounded" minOccurs="1">
                    <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <xsd:element name="property">
                            <xsd:complexType>
                                <xsd:attribute name="name" use="required"/>
                                <xsd:attribute name="defaultValue" use="optional"/>
                                <xsd:attribute name="type" type="inputType" use="required"/>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element ref="operation" />
                        <xsd:group ref="mule:muleRootElements"/>
                    </xsd:choice>
                </xsd:sequence>
                <xsd:attribute name="name" use="required"/>
                <xsd:attribute name="namespace" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="inputType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="string"/>
            <xsd:enumeration value="boolean"/>
            <xsd:enumeration value="datetime"/>
            <xsd:enumeration value="date"/>
            <xsd:enumeration value="integer"/>
            <xsd:enumeration value="time"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="outputSimpleType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="string"/>
            <xsd:enumeration value="boolean"/>
            <xsd:enumeration value="datetime"/>
            <xsd:enumeration value="date"/>
            <xsd:enumeration value="integer"/>
            <xsd:enumeration value="time"/>
            <xsd:enumeration value="void"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
